* {
  padding: 0;
  margin: 0;
}
.top .nav {
  height: 70px;
  background-color: rgb(36, 36, 36);
}

.top .nav2 {
  height: 35px;
  background-color: rgb(194, 12, 12);
}

.banner {
  max-width: 1920px;
  height: 285px;
  background-color: pink;
  position: relative;
}

.banner .lunbo {
  overflow: hidden;
  height: 285px;
  width: 730px;
  margin: auto;
  position: relative;
}
.banner .lunbo ul {
  cursor: pointer;
  position: absolute;
  /* display: flex; */
  width: 3650px;
  list-style: none;
}
.banner ul li {
  float: left;
}
.banner ul img {
  width: 730px;
}

.banner .btn_l {
  width: 37px;
  height: 63px;
  background: url(../imgs/向左箭头.png) no-repeat center;
  position: absolute;
  background-size: 37px;
  left: 520px;
  top: 111px;
  z-index: 2;
  cursor: pointer;
}
.banner .btn_r {
  width: 37px;
  height: 63px;
  background: url(../imgs/向右箭头.png) no-repeat center;
  position: absolute;
  background-size: 37px;
  left: 1360px;
  top: 111px;
  z-index: 2;
  cursor: pointer;
}
.banner .btn_l:hover,
.banner .btn_r:hover {
  background-color: #333333;
}
.banner .nav{
  position: absolute;
  list-style: none;
  top:260px;
  left: 600px;
}
.nav li{
  width: 15px;
  height: 15px;
  border: 1px solid pink;
  border-radius: 50%;
  margin: 2px;
  background-color: white;
  cursor: pointer;
}
.banner .nav .current{
  background-color: pink;
}